* {
  font-family: 'JetBrains Mono', monospace;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.landing-hero {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
