.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title {
  color: var(--blue);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 100%;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.2rem;
}

.title > a {
  text-decoration: none;
  color: inherit;
}

.subtitle {
  font-size: 1.3rem;
  text-align: center;
  color: var(--light-purple);
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.description {
  color: black;
  text-align: left;
  font-size: 1.2rem;
  width: 80ch;
  max-width: 80%;
  margin: 1rem 0;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 2.2rem;
  }

  .description {
    width: 80ch;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }

  .description {
    width: 60ch;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1rem;
  }
}

.signin-button {
  margin-top: 1rem;
  padding: 0.7rem 1.2rem;
  background-color: var(--purple);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  margin-bottom: 2rem;
  transition: background-color 200ms ease-out;
}

.signin-button:hover {
  background-color: var(--light-purple);
  transition: background-color 0s;
  cursor: pointer;
}
