.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Toggle button styles */
.toggle-button {
  padding: 10px;
  cursor: pointer;
}

/* Dropdown menu styles */
.dropdown-menu {
  position: absolute;
  top: 100%; /* Position the dropdown below the button */
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1; /* Ensure the dropdown appears above other elements */
}

/* Dropdown item styles */
.dropdown-menu span {
  margin: 0;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;
  display: block;
  /* Hover effect */
}

.dropdown-menu span:hover {
  background-color: #f0f0f0;
}

.search {
  display: flex;
  align-items: center;
  padding: 25px 0;
  width: 90%;
  margin: 0% 0 5% 5%;
  background-color: rgb(234, 234, 234);
}

.search > label {
  margin-left: 3%;
}

.search > input {
  padding: 10px;
  margin: 0 25px 0 5px;
}
