* {
  font-family: 'JetBrains Mono', monospace;
}
body {
  background-image: url('./assets/background.avif');
  background-size: cover; /* Adjust the background size */
  /* background-repeat: no-repeat; */
  margin: 0;
  padding: 0;
}

.landing-hero {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  align-self: center;
  color: rgb(132, 72, 163);
}
